<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<jsp-file>/LoginView.jsp</jsp-file>
  
<init-param>

	<param-name>defaultUser</param-name>
	<param-value>Default User Name</param-value>
</init-param>  
  
</servlet>
  
  <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginView.jsp</url-pattern>
   
  </servlet-mapping>
  
</web-app>